.svgs-skills img {
  width: 20vh;
}

.card-body-div {
  background-color: #121212;
  color: #E0E0E0;
  border: 1px solid #1C1C1C;
}
.card-div {
  background-color: #161616 !important;
  color: #e0e0e0 !important;
}
.project-text {
  font-size: 14px;
  text-align: justify;
}
.citacao::before {
  position: relative;
  right: 2em;
  content: "";
  display: block;
  width: 28px;
  top: 1em;
  height: 24px;
}

.citacao::after {
  bottom: -2.5em;
  position: absolute;
  content: "";
  display: block;
  width: 28px;
  height: 24px;
  left: 11em !important;
}
.circled-text {
  color: white; /* Cor interna do texto */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Cria a borda preta */
}
.download-button-min {
  display: none;
}

.img-project-min {
  display: none;
}

.img-project-normal {
  display: block;
}
#contact {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}
.nav-links-navbar a {
  font-weight: 500;
}
a {
  color: #1976d2 !important;
}
.icon-with-gradient {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section {
  margin-left: 7em;
  margin-right: 7em; /* Bordas */
}

footer {
  background-color: #161515;
}
.profile-img {
  width: 30vw !important;
}
.projects-div{
  width: 20% !important;
}
@media (max-width: 750px) {
  .section-how-am-i{
    padding-top: 10em;
  }
  
  /* Customiza o botão hamburger */
.custom-toggler {
  border-color: white; /* Borda do botão */
}
.projects-div{width: 90% !important;}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

  p {
    font-size: 3vh !important;
  }
  .svgs-skills img {
    width: 25vh;
  }
  .profile-img {
    width: 70vw !important;
  }
  section {
    margin-left: 0;
    margin-right: 0;
  }


  .card-body-padding {
    padding: 1em !important;
  }

  .resume-button {
    margin-left: 5em;
    margin-right: 5em;
  }

  .projects-button {
    margin-left: 5em;
    margin-right: 5em;
  }

  .img-project-min {
    display: block;
  }

  .img-project-normal {
    display: none;
  }

  .padding-page {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }
}
